
<section id="section" class="vh-100 " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-6">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
              
<form id="form">
    <!-- Name input -->
    <div class="form-outline mb-4">
        <input type="text" id="id" class="form-control" [(ngModel)]="id" name="id" />
        <label class="form-label" for="form5Example1">Id</label>
      </div>

    <div class="form-outline mb-4">
      <input type="text" id="username" class="form-control"  [(ngModel)]="user" name="user"/>
      <label class="form-label" for="form5Example1">Name</label>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="date" id="dob" class="form-control" [(ngModel)]="dob" name="dob" />
    </div>

    <div class="form-outline mb-4">
        <input type="radio" name="gender" value="male" [(ngModel)]="gender"> Male
        <input type="radio" name="gender" value="female" [(ngModel)]="gender"> Female
        <input type="radio" name="gender" value="others" [(ngModel)]="gender"> others
      </div>

    <div class="form-outline mb-4">
        <input type="tel" id="contactno" class="form-control" [(ngModel)]="contactno" name="contactno"/>
        <label class="form-label" for="form5Example1" >Contact No</label>
      </div>
  
  
    <!-- Submit button -->
    <button type="submit" id="submit" class="btn btn-primary btn-block mb-4" (click)="submit()">Submit</button>
  </form>
  </div>
  </div>
        </div>
      </div>
      </div>
      </section>